@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');
body{
    background: linear-gradient(30deg, blue,red);
}
h1{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 50px;
    color: rgb(0, 255, 81);
}
p{
    background: yellow;
    height: 300px;
    font-family: 'Poppins', sans-serif;
    text-decoration: underline;
    text-align: center;
    
}